.kumar
{
    background-image:url("https://c4.wallpaperflare.com/wallpaper/471/312/936/lines-vertical-rainbow-background-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lappy
{
    margin-left:175px;
}
.graph{
    font-family: fantasy;
    font-size: large;
}